*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(135deg,#61d954,#2ebf75);
}
h1{
    font-size: 30px;
    text-align: center;
    margin: 0 30px;
    color: green;
}
.container{
    background-color: #ffffff;
    padding: 40px 30px;
    width: 50%;
    min-width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 30px;
    font-family: 'Poppins',sans-serif;
    box-shadow: 25px 25px 35px rgba(0, 0, 0, 0.15);
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.row span{
    font-weight: 500;
}
input[type="range"]{
    width: 70%;
    height: 3.5px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #dcdcdc;
    border-radius: 3px;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #1c1c1c;
    border-radius: 50%;
    cursor: pointer;
}
#result{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: red;
}
#category{
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}

@media (max-width: 599px){
    h1{
        font-size: 10px;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 30px;
        color: green;
    }
    .container{
        background-color: #ffffff;
        padding: 20px 10px;
        width: 50%;
        min-width: 200px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 30px;
        font-family: 'Poppins',sans-serif;
        box-shadow: 25px 25px 35px rgba(0, 0, 0, 0.15);
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .row span{
        font-weight: 380;
    }
    input[type="range"]{
        width: 70%;
        height: 15px;
        -webkit-appearance: none;
        appearance: none;
        background-color: #dcdcdc;
        border-radius: 3px;
        outline: none;
    }
    input[type="range"]::-webkit-slider-thumb{
        -webkit-appearance: none;
        appearance: none;
        height: 13px;
        width: 13px;
        background-color: #1c1c1c;
        border-radius: 50%;
        cursor: pointer;
    }
    #result{
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        color: red;
    }
    #category{
        font-size: 23px;
        text-align: center;
        letter-spacing: 1px;
    }
}